# Practicumopdrachten Week 2.2 (eerste kans)

## Dependencies importeren

Importeer in het codeblok hieronder de packages die worden gebruikt om data in te lezen. Geef er ook de gebruikelijke aliassen aan.<br>
N.B.: de 2 reeds geschreven coderegels zorgen ervoor dat eventuele warnings, die code-outputs lelijker maken, uitgezet worden.

In [17]:

import warnings
warnings.simplefilter('ignore')

Zet het bestand go_sales.sqlite in hetzelfde mapje als dit notebook.

## Databasetabel inlezen

Creëer een databaseconnectie met het bestand go_sales.sqlite.

In [18]:
import pandas as pd
import sqlite3

database_path = 'go_sales.sqlite'
conn = sqlite3.connect(database_path)

Gebruik de onderstaande sql_query om te achterhalen welke databasetabellen in go_sales zitten.

In [21]:
sql_query = "SELECT name FROM sqlite_master WHERE type='table';"
tables_df = pd.read_sql_query(sql_query, conn)

print(tables_df)

                name
0            country
1      order_details
2       order_header
3       order_method
4            product
5       product_line
6       product_type
7      retailer_site
8      return_reason
9      returned_item
10      sales_branch
11       sales_staff
12  SALES_TARGETData
13   sqlite_sequence

Gebruik de gecreëerde databaseconnectie om de resultaten van de volgende query in een DataFrame te zetten:<br>
*SELECT * FROM sales_staff*

In [12]:
query = 'SELECT * FROM sales_staff'
result = pd.read_sql_query(query, conn)


print(result)

    SALES_STAFF_CODE FIRST_NAME   LAST_NAME                   POSITION_EN  \
0                100     Tuomas  Savolainen  Level 2 Sales Representative
1                101   Chang-ho         Kim  Level 2 Sales Representative
2                102    Jung-ho        Choi  Level 3 Sales Representative
3                103  Kwei-Ping         Kao  Level 2 Sales Representative
4                104  Chin-Tsai        Fang  Level 3 Sales Representative
..               ...        ...         ...                           ...
97                95      Tomás    Iglesias  Level 2 Sales Representative
98                96     Bayard       Lopes                Branch Manager
99                97     Viviam      Barros  Level 3 Sales Representative
100               98    Eduardo   Guimarães  Level 2 Sales Representative
101               99     Helena    Lindholm  Level 3 Sales Representative

              WORK_PHONE EXTENSION                  FAX  \
0    +358(0)17 - 433 127       825  +358(0)17 - 433 129
1          82-2-778-6587      1228        82-2-778-6586
2          82-2-778-6587      2641        82-2-778-6586
3        886-2-2975-1988      1541      886-2-2989-4978
4        886-2-2975-1988      2311      886-2-2989-4978
..                   ...       ...                  ...
97       +35 94 322 3540       325      +35 91 548 1637
98     +55 (11) 344-4444      3490    +55 (11) 333-2223
99     +55 (11) 344-4444      3364    +55 (11) 333-2223
100    +55 (11) 344-4444      1442    +55 (11) 333-2223
101  +358(0)17 - 433 127       489  +358(0)17 - 433 129

                       EMAIL  DATE_HIRED SALES_BRANCH_CODE TRIAL888
0    TSavolainen@grtd123.com   23-7-2014                31        T
1           CKim@grtd123.com  15-12-2014                32        T
2          JChoi@grtd123.com  27-11-2014                32        T
3          KKwao@grtd123.com   7-10-2014                33        T
4           CFon@grtd123.com    8-5-2012                33        T
..                       ...         ...               ...      ...
97     TIglesias@grtd123.com   19-2-2014                29        T
98        BLopes@grtd123.com   12-8-2013                30        T
99       VBarros@grtd123.com   10-2-2017                30        T
100   EGuimaraes@grtd123.com   14-2-2015                30        T
101    HLindholm@grtd123.com   17-8-2013                31        T

[102 rows x 11 columns]

## DataFrames uitsplitsen en opbouwen met Series

De volgende 5 kolommen hebben betrekking op de contactdetails van elke medewerker in dit DataFrame:
- SALES_STAFF_CODE
- WORK_PHONE
- EXTENSION
- FAX
- EMAIL

Maak van elk van deze 5 kolommen een serie.

In [16]:
import sqlite3
import pandas as pd

db_connection = sqlite3.connect("go_sales.sqlite")

query = "SELECT * FROM sales_staff"
df = pd.read_sql_query(query, db_connection)

# Kolommen worden naar series omgezet
sales_staff_code_series = df['SALES_STAFF_CODE']
work_phone_series = df['WORK_PHONE']
extension_series = df['EXTENSION']
fax_series = df['FAX']
email_series = df['EMAIL']

print("SALES_STAFF_CODE Serie:")
print(sales_staff_code_series)

print("\nWORK_PHONE Serie:")
print(work_phone_series)

print("\nEXTENSION Serie:")
print(extension_series)

print("\nFAX Serie:")
print(fax_series)

print("\nEMAIL Serie:")
print(email_series)

SALES_STAFF_CODE Serie:
0      100
1      101
2      102
3      103
4      104
      ...
97      95
98      96
99      97
100     98
101     99
Name: SALES_STAFF_CODE, Length: 102, dtype: object

WORK_PHONE Serie:
0      +358(0)17 - 433 127
1            82-2-778-6587
2            82-2-778-6587
3          886-2-2975-1988
4          886-2-2975-1988
              ...
97         +35 94 322 3540
98       +55 (11) 344-4444
99       +55 (11) 344-4444
100      +55 (11) 344-4444
101    +358(0)17 - 433 127
Name: WORK_PHONE, Length: 102, dtype: object

EXTENSION Serie:
0       825
1      1228
2      2641
3      1541
4      2311
       ...
97      325
98     3490
99     3364
100    1442
101     489
Name: EXTENSION, Length: 102, dtype: object

FAX Serie:
0      +358(0)17 - 433 129
1            82-2-778-6586
2            82-2-778-6586
3          886-2-2989-4978
4          886-2-2989-4978
              ...
97         +35 91 548 1637
98       +55 (11) 333-2223
99       +55 (11) 333-2223
100      +55 (11) 333-2223
101    +358(0)17 - 433 129
Name: FAX, Length: 102, dtype: object

EMAIL Serie:
0      TSavolainen@grtd123.com
1             CKim@grtd123.com
2            JChoi@grtd123.com
3            KKwao@grtd123.com
4             CFon@grtd123.com
                ...
97       TIglesias@grtd123.com
98          BLopes@grtd123.com
99         VBarros@grtd123.com
100     EGuimaraes@grtd123.com
101      HLindholm@grtd123.com
Name: EMAIL, Length: 102, dtype: object

Zet allevijf gecreëerde series als kolommen naast elkaar in een DataFrame (*contact_details*). Gebruik pd.concat(...)<br>
Hulpvraag: welke waarde geef je aan de axis-parameter?`

In [19]:
# Axis-parameter waarde is 1
contact_details = pd.concat([sales_staff_code_series, work_phone_series, extension_series, fax_series, email_series], axis=1) 

print(contact_details)

    SALES_STAFF_CODE           WORK_PHONE EXTENSION                  FAX  \
0                100  +358(0)17 - 433 127       825  +358(0)17 - 433 129
1                101        82-2-778-6587      1228        82-2-778-6586
2                102        82-2-778-6587      2641        82-2-778-6586
3                103      886-2-2975-1988      1541      886-2-2989-4978
4                104      886-2-2975-1988      2311      886-2-2989-4978
..               ...                  ...       ...                  ...
97                95      +35 94 322 3540       325      +35 91 548 1637
98                96    +55 (11) 344-4444      3490    +55 (11) 333-2223
99                97    +55 (11) 344-4444      3364    +55 (11) 333-2223
100               98    +55 (11) 344-4444      1442    +55 (11) 333-2223
101               99  +358(0)17 - 433 127       489  +358(0)17 - 433 129

                       EMAIL
0    TSavolainen@grtd123.com
1           CKim@grtd123.com
2          JChoi@grtd123.com
3          KKwao@grtd123.com
4           CFon@grtd123.com
..                       ...
97     TIglesias@grtd123.com
98        BLopes@grtd123.com
99       VBarros@grtd123.com
100   EGuimaraes@grtd123.com
101    HLindholm@grtd123.com

[102 rows x 5 columns]

## Series en DataFrames maken vanuit lists en dictionaries

Met .head(*getal*) kan je de bovenste *getal* rijen van een tabel selecteren.<br>
Selecteer op deze manier de bovenste 5 rijen van *contact_details*.<br>
Sla dit resultaat op in een nieuw DataFrame.

In [20]:
 #.head selecteert de eerste 5 rijen
contact_details_head = contact_details.head(5)

print(contact_details_head)

  SALES_STAFF_CODE           WORK_PHONE EXTENSION                  FAX  \
0              100  +358(0)17 - 433 127       825  +358(0)17 - 433 129
1              101        82-2-778-6587      1228        82-2-778-6586
2              102        82-2-778-6587      2641        82-2-778-6586
3              103      886-2-2975-1988      1541      886-2-2989-4978
4              104      886-2-2975-1988      2311      886-2-2989-4978

                     EMAIL
0  TSavolainen@grtd123.com
1         CKim@grtd123.com
2        JChoi@grtd123.com
3        KKwao@grtd123.com
4         CFon@grtd123.com

Aan deze 10 rijen met contactdetails willen we 3 kolommen toevoegen: 'FIRST_LANGUAGE', 'SECOND_LANGUAGE' & 'THIRD_LANGUAGE'.<br>
Iedereens 'First Language' is Engels, afgekort 'EN'. Maak een lijst waarin 5x 'EN' staat.<br>
Converteer deze lijst vervolgens naar een serie en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [34]:
# Lijst met 5 keer 'EN' voor First Language
first_language_list = ['EN'] * 5

# Lijst wordt geconverteerd naar een serie
first_language_series = pd.Series(first_language_list, name='FIRST_LANGUAGE')

# Serie wordt horizontaal getoond
contact_details_with_languages = pd.concat([contact_details_head, first_language_series], axis=1)

# Second & Third language zijn Not Available
contact_details_with_languages['SECOND_LANGUAGE'] = pd.NA
contact_details_with_languages['THIRD_LANGUAGE'] = pd.NA

print(contact_details_with_languages)

  SALES_STAFF_CODE           WORK_PHONE EXTENSION                  FAX  \
0              100  +358(0)17 - 433 127       825  +358(0)17 - 433 129
1              101        82-2-778-6587      1228        82-2-778-6586
2              102        82-2-778-6587      2641        82-2-778-6586
3              103      886-2-2975-1988      1541      886-2-2989-4978
4              104      886-2-2975-1988      2311      886-2-2989-4978

                     EMAIL FIRST_LANGUAGE SECOND_LANGUAGE THIRD_LANGUAGE
0  TSavolainen@grtd123.com             EN            <NA>           <NA>
1         CKim@grtd123.com             EN            <NA>           <NA>
2        JChoi@grtd123.com             EN            <NA>           <NA>
3        KKwao@grtd123.com             EN            <NA>           <NA>
4         CFon@grtd123.com             EN            <NA>           <NA>

Maak nu de tweede kolom ('SECOND_LANGUAGE'). Maak daarvoor een dictionary, met daarin...
- Als keys: alle indexen uit het resultaat van het vorige codeblok.
- Als values: bij de eerste 3 elementen 'FR' (Frankrijk), bij de laatste 2 'DE' (Duitsland).

Maak vervolgens ook hier weer een serie van en voeg ook deze weer horizontaal samen met het rsultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [37]:
# - Als values: bij de eerste 3 elementen 'FR' (Frankrijk), bij de laatste 2 'DE' (Duitsland).
second_language_dict = {0: 'FR', 1: 'FR', 2: 'FR', 3: 'DE', 4: 'DE'}

# Dictionary naar serie
second_language_series = pd.Series(second_language_dict, name='SECOND_LANGUAGE')

# Voeg de serie horizontaal samen met het resultaat van de vorige opdracht
contact_details_with_languages['SECOND_LANGUAGE'] = second_language_series

print(contact_details_with_languages)

  SALES_STAFF_CODE           WORK_PHONE EXTENSION                  FAX  \
0              100  +358(0)17 - 433 127       825  +358(0)17 - 433 129
1              101        82-2-778-6587      1228        82-2-778-6586
2              102        82-2-778-6587      2641        82-2-778-6586
3              103      886-2-2975-1988      1541      886-2-2989-4978
4              104      886-2-2975-1988      2311      886-2-2989-4978

                     EMAIL FIRST_LANGUAGE SECOND_LANGUAGE THIRD_LANGUAGE  \
0  TSavolainen@grtd123.com             EN              FR           <NA>
1         CKim@grtd123.com             EN              FR           <NA>
2        JChoi@grtd123.com             EN              FR           <NA>
3        KKwao@grtd123.com             EN              DE           <NA>
4         CFon@grtd123.com             EN              DE           <NA>

  THIRD_LANGUAGE THIRD_LANGUAGE
0             NL             NL
1             NL             NL
2            JPN            JPN
3            JPN            JPN
4            KOR            KOR

Maak ten slotte de derde kolom ('THIRD_LANGUAGE') door een dictionary te maken met daarin...
- Als key: de naam van de nieuwe kolom. Zie je het verschil qua keys met de vorige opdracht?
- Als waarde: een lijst met daarin 'NL', 'NL', 'JPN', 'JPN', 'KOR'.

Converteer deze dictionary nu naar een DataFrame en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Waarom hoef je hierna de nieuw ontstane kolom geen passende naam meer te geven?

In [36]:
# Dictionairy
third_language_dict = {'THIRD_LANGUAGE': ['NL', 'NL', 'JPN', 'JPN', 'KOR']}

# Dataframe
third_language_df = pd.DataFrame(third_language_dict)

# Derde kolom wordt horizontaal toegevoegd
contact_details_with_languages = pd.concat([contact_details_with_languages, third_language_df], axis=1)

print(contact_details_with_languages)

  SALES_STAFF_CODE           WORK_PHONE EXTENSION                  FAX  \
0              100  +358(0)17 - 433 127       825  +358(0)17 - 433 129
1              101        82-2-778-6587      1228        82-2-778-6586
2              102        82-2-778-6587      2641        82-2-778-6586
3              103      886-2-2975-1988      1541      886-2-2989-4978
4              104      886-2-2975-1988      2311      886-2-2989-4978

                     EMAIL FIRST_LANGUAGE SECOND_LANGUAGE THIRD_LANGUAGE  \
0  TSavolainen@grtd123.com             EN            <NA>           <NA>
1         CKim@grtd123.com             EN            <NA>           <NA>
2        JChoi@grtd123.com             EN            <NA>           <NA>
3        KKwao@grtd123.com             EN            <NA>           <NA>
4         CFon@grtd123.com             EN            <NA>           <NA>

  THIRD_LANGUAGE THIRD_LANGUAGE
0             NL             NL
1             NL             NL
2            JPN            JPN
3            JPN            JPN
4            KOR            KOR

## Data toevoegen

### Rijen

Gebruik de originele databasetabel *sales_staff*.<br>
Voeg een extra rij toe met eigen invulling. Zorg ervoor dat de index netjes doorloopt.<br>
Hulpvraag: welke waarde geef je nu aan axis?

In [38]:
import pandas as pd
import sqlite3

# Nieuwe DB Pad
database_path = 'Great_outdoors_data_SQLite/go_sales.sqlite'

# Databaseconnectie
go_sales_connection = sqlite3.connect(database_path)

# Alle gegevens van Sales_STAFF
query = "SELECT * FROM sales_staff"

# Query wordt uitgevoerd en getoond in een Panda Dataframe
sales_staff_df = pd.read_sql_query(query, go_sales_connection)

# Extra rij wordt toegevoegd
new_row_data = {'SALES_STAFF_CODE': 'S999', 'STAFF_NAME': 'John Doe', 'POSITION': 'Sales Representative',
                'WORK_PHONE': '123-456-7890', 'EXTENSION': '123', 'FAX': '987-654-3210', 'EMAIL': 'john.doe@example.com'}

# Nieuwe rij aan het DataFrame met behulp van loc
sales_staff_df.loc[len(sales_staff_df)] = new_row_data

print("DataFrame sales_staff met toegevoegde rij:")
print(sales_staff_df)

DataFrame sales_staff met toegevoegde rij:
    SALES_STAFF_CODE FIRST_NAME   LAST_NAME                   POSITION_EN  \
0                100     Tuomas  Savolainen  Level 2 Sales Representative
1                101   Chang-ho         Kim  Level 2 Sales Representative
2                102    Jung-ho        Choi  Level 3 Sales Representative
3                103  Kwei-Ping         Kao  Level 2 Sales Representative
4                104  Chin-Tsai        Fang  Level 3 Sales Representative
..               ...        ...         ...                           ...
98                96     Bayard       Lopes                Branch Manager
99                97     Viviam      Barros  Level 3 Sales Representative
100               98    Eduardo   Guimarães  Level 2 Sales Representative
101               99     Helena    Lindholm  Level 3 Sales Representative
102             S999        NaN         NaN                           NaN

              WORK_PHONE EXTENSION                  FAX  \
0    +358(0)17 - 433 127       825  +358(0)17 - 433 129
1          82-2-778-6587      1228        82-2-778-6586
2          82-2-778-6587      2641        82-2-778-6586
3        886-2-2975-1988      1541      886-2-2989-4978
4        886-2-2975-1988      2311      886-2-2989-4978
..                   ...       ...                  ...
98     +55 (11) 344-4444      3490    +55 (11) 333-2223
99     +55 (11) 344-4444      3364    +55 (11) 333-2223
100    +55 (11) 344-4444      1442    +55 (11) 333-2223
101  +358(0)17 - 433 127       489  +358(0)17 - 433 129
102         123-456-7890       123         987-654-3210

                       EMAIL  DATE_HIRED SALES_BRANCH_CODE TRIAL888
0    TSavolainen@grtd123.com   23-7-2014                31        T
1           CKim@grtd123.com  15-12-2014                32        T
2          JChoi@grtd123.com  27-11-2014                32        T
3          KKwao@grtd123.com   7-10-2014                33        T
4           CFon@grtd123.com    8-5-2012                33        T
..                       ...         ...               ...      ...
98        BLopes@grtd123.com   12-8-2013                30        T
99       VBarros@grtd123.com   10-2-2017                30        T
100   EGuimaraes@grtd123.com   14-2-2015                30        T
101    HLindholm@grtd123.com   17-8-2013                31        T
102     john.doe@example.com         NaN               NaN      NaN

[103 rows x 11 columns]

### Kolommen

`Voeg een kolom *FULL_NAME* toe die de waarden van *FIRST_NAME* en *LAST_NAME* achter elkaar zet, gescheiden door een spatie.`

In [39]:
sales_staff_df['FULL_NAME'] = sales_staff_df['FIRST_NAME'] + ' ' + sales_staff_df['LAST_NAME']

print(sales_staff_df)

    SALES_STAFF_CODE FIRST_NAME   LAST_NAME                   POSITION_EN  \
0                100     Tuomas  Savolainen  Level 2 Sales Representative
1                101   Chang-ho         Kim  Level 2 Sales Representative
2                102    Jung-ho        Choi  Level 3 Sales Representative
3                103  Kwei-Ping         Kao  Level 2 Sales Representative
4                104  Chin-Tsai        Fang  Level 3 Sales Representative
..               ...        ...         ...                           ...
98                96     Bayard       Lopes                Branch Manager
99                97     Viviam      Barros  Level 3 Sales Representative
100               98    Eduardo   Guimarães  Level 2 Sales Representative
101               99     Helena    Lindholm  Level 3 Sales Representative
102             S999        NaN         NaN                           NaN

              WORK_PHONE EXTENSION                  FAX  \
0    +358(0)17 - 433 127       825  +358(0)17 - 433 129
1          82-2-778-6587      1228        82-2-778-6586
2          82-2-778-6587      2641        82-2-778-6586
3        886-2-2975-1988      1541      886-2-2989-4978
4        886-2-2975-1988      2311      886-2-2989-4978
..                   ...       ...                  ...
98     +55 (11) 344-4444      3490    +55 (11) 333-2223
99     +55 (11) 344-4444      3364    +55 (11) 333-2223
100    +55 (11) 344-4444      1442    +55 (11) 333-2223
101  +358(0)17 - 433 127       489  +358(0)17 - 433 129
102         123-456-7890       123         987-654-3210

                       EMAIL  DATE_HIRED SALES_BRANCH_CODE TRIAL888  \
0    TSavolainen@grtd123.com   23-7-2014                31        T
1           CKim@grtd123.com  15-12-2014                32        T
2          JChoi@grtd123.com  27-11-2014                32        T
3          KKwao@grtd123.com   7-10-2014                33        T
4           CFon@grtd123.com    8-5-2012                33        T
..                       ...         ...               ...      ...
98        BLopes@grtd123.com   12-8-2013                30        T
99       VBarros@grtd123.com   10-2-2017                30        T
100   EGuimaraes@grtd123.com   14-2-2015                30        T
101    HLindholm@grtd123.com   17-8-2013                31        T
102     john.doe@example.com         NaN               NaN      NaN

             FULL_NAME
0    Tuomas Savolainen
1         Chang-ho Kim
2         Jung-ho Choi
3        Kwei-Ping Kao
4       Chin-Tsai Fang
..                 ...
98        Bayard Lopes
99       Viviam Barros
100  Eduardo Guimarães
101    Helena Lindholm
102                NaN

[103 rows x 12 columns]

## Data wijzigen

### Datatypen

Door het attribuut .dtypes van een DataFrame op te vragen krijg je een serie die per kolom het datatype weergeeft. Doe dit bij de originele databasetabel *sales_staff*

In [40]:
import pandas as pd
import sqlite3

database_path = 'Great_outdoors_data_SQLite/go_sales.sqlite'

go_sales_connection = sqlite3.connect(database_path)

# Alle gegevens van sales_Staff
query = "SELECT * FROM sales_staff"

# Resultaten in PD Dataframe
sales_staff_df = pd.read_sql_query(query, go_sales_connection)

print("Datatypes van elke kolom in sales_staff:")
print(sales_staff_df.dtypes)

Datatypes van elke kolom in sales_staff:
SALES_STAFF_CODE     object
FIRST_NAME           object
LAST_NAME            object
POSITION_EN          object
WORK_PHONE           object
EXTENSION            object
FAX                  object
EMAIL                object
DATE_HIRED           object
SALES_BRANCH_CODE    object
TRIAL888             object
dtype: object

Hier valt op dat elke kolom het datatype 'object' heeft: Python leest dus alles als string. Wiskundige operaties zijn hierdoor niet mogelijk.<br>
We kunnen proberen om kolommen met getallen, bijvoorbeeld de 'extension', te converteren naar een int. Zie onderstaande code.

In [3]:
sales_staff['EXTENSION'] = sales_staff['EXTENSION'].astype(int)
sales_staff.dtypes

NameError: name 'sales_staff' is not defined

Dit lukt echter niet, omdat er in de kolom 'EXTENSION' lege waarden zitten die niet geconverteerd kunnen worden naar een int.<br>
Wél kan je deze naar een float converteren, zie onderstaande code:

In [ ]:
sales_staff['EXTENSION'] = sales_staff['EXTENSION'].astype(float)
sales_staff.dtypes

Als we in de rij van 'EXTENSION' kijken zien we dat de conversie van het datatype nu is gelukt.<br>
Dit is <b>randvoorwaardelijk</b> voor het uitvoeren van wiskundige operaties.<br>

### Rijen

Zorg er nu voor dat bij alle extensions 1 wordt opgeteld.

In [41]:
# Query
query = "SELECT * FROM sales_staff"

sales_staff_df = pd.read_sql_query(query, go_sales_connection)

# Conversie naar Float
sales_staff_df['EXTENSION'] = sales_staff_df['EXTENSION'].astype(float)

# Voeg 1 toe aan alle waarden in de 'EXTENSION'-kolom
sales_staff_df['EXTENSION'] += 1

print(sales_staff_df)

    SALES_STAFF_CODE FIRST_NAME   LAST_NAME                   POSITION_EN  \
0                100     Tuomas  Savolainen  Level 2 Sales Representative
1                101   Chang-ho         Kim  Level 2 Sales Representative
2                102    Jung-ho        Choi  Level 3 Sales Representative
3                103  Kwei-Ping         Kao  Level 2 Sales Representative
4                104  Chin-Tsai        Fang  Level 3 Sales Representative
..               ...        ...         ...                           ...
97                95      Tomás    Iglesias  Level 2 Sales Representative
98                96     Bayard       Lopes                Branch Manager
99                97     Viviam      Barros  Level 3 Sales Representative
100               98    Eduardo   Guimarães  Level 2 Sales Representative
101               99     Helena    Lindholm  Level 3 Sales Representative

              WORK_PHONE  EXTENSION                  FAX  \
0    +358(0)17 - 433 127      826.0  +358(0)17 - 433 129
1          82-2-778-6587     1229.0        82-2-778-6586
2          82-2-778-6587     2642.0        82-2-778-6586
3        886-2-2975-1988     1542.0      886-2-2989-4978
4        886-2-2975-1988     2312.0      886-2-2989-4978
..                   ...        ...                  ...
97       +35 94 322 3540      326.0      +35 91 548 1637
98     +55 (11) 344-4444     3491.0    +55 (11) 333-2223
99     +55 (11) 344-4444     3365.0    +55 (11) 333-2223
100    +55 (11) 344-4444     1443.0    +55 (11) 333-2223
101  +358(0)17 - 433 127      490.0  +358(0)17 - 433 129

                       EMAIL  DATE_HIRED SALES_BRANCH_CODE TRIAL888
0    TSavolainen@grtd123.com   23-7-2014                31        T
1           CKim@grtd123.com  15-12-2014                32        T
2          JChoi@grtd123.com  27-11-2014                32        T
3          KKwao@grtd123.com   7-10-2014                33        T
4           CFon@grtd123.com    8-5-2012                33        T
..                       ...         ...               ...      ...
97     TIglesias@grtd123.com   19-2-2014                29        T
98        BLopes@grtd123.com   12-8-2013                30        T
99       VBarros@grtd123.com   10-2-2017                30        T
100   EGuimaraes@grtd123.com   14-2-2015                30        T
101    HLindholm@grtd123.com   17-8-2013                31        T

[102 rows x 11 columns]

Elke 'Branch Manager' wordt nu 'General Manager'. Schrijf code zodat deze wijziging doorgevoerd wordt in het DataFrame.

In [42]:
# Wijzig 'Branch Manager' naar 'General Manager'
sales_staff_df.loc[sales_staff_df['POSITION_EN'] == 'Branch Manager', 'POSITION_EN'] = 'General Manager'

print(sales_staff_df)

    SALES_STAFF_CODE FIRST_NAME   LAST_NAME                   POSITION_EN  \
0                100     Tuomas  Savolainen  Level 2 Sales Representative
1                101   Chang-ho         Kim  Level 2 Sales Representative
2                102    Jung-ho        Choi  Level 3 Sales Representative
3                103  Kwei-Ping         Kao  Level 2 Sales Representative
4                104  Chin-Tsai        Fang  Level 3 Sales Representative
..               ...        ...         ...                           ...
97                95      Tomás    Iglesias  Level 2 Sales Representative
98                96     Bayard       Lopes               General Manager
99                97     Viviam      Barros  Level 3 Sales Representative
100               98    Eduardo   Guimarães  Level 2 Sales Representative
101               99     Helena    Lindholm  Level 3 Sales Representative

              WORK_PHONE  EXTENSION                  FAX  \
0    +358(0)17 - 433 127      826.0  +358(0)17 - 433 129
1          82-2-778-6587     1229.0        82-2-778-6586
2          82-2-778-6587     2642.0        82-2-778-6586
3        886-2-2975-1988     1542.0      886-2-2989-4978
4        886-2-2975-1988     2312.0      886-2-2989-4978
..                   ...        ...                  ...
97       +35 94 322 3540      326.0      +35 91 548 1637
98     +55 (11) 344-4444     3491.0    +55 (11) 333-2223
99     +55 (11) 344-4444     3365.0    +55 (11) 333-2223
100    +55 (11) 344-4444     1443.0    +55 (11) 333-2223
101  +358(0)17 - 433 127      490.0  +358(0)17 - 433 129

                       EMAIL  DATE_HIRED SALES_BRANCH_CODE TRIAL888
0    TSavolainen@grtd123.com   23-7-2014                31        T
1           CKim@grtd123.com  15-12-2014                32        T
2          JChoi@grtd123.com  27-11-2014                32        T
3          KKwao@grtd123.com   7-10-2014                33        T
4           CFon@grtd123.com    8-5-2012                33        T
..                       ...         ...               ...      ...
97     TIglesias@grtd123.com   19-2-2014                29        T
98        BLopes@grtd123.com   12-8-2013                30        T
99       VBarros@grtd123.com   10-2-2017                30        T
100   EGuimaraes@grtd123.com   14-2-2015                30        T
101    HLindholm@grtd123.com   17-8-2013                31        T

[102 rows x 11 columns]

### Kolommen

Verander de kolomnaam 'POSITION_EN' naar 'POSITION'.

In [43]:
# Kolomnaam verandering
sales_staff_df.rename(columns={'POSITION_EN': 'POSITION'}, inplace=True) # Inplace = directe aanpassing in DataFrame

print(sales_staff_df)

    SALES_STAFF_CODE FIRST_NAME   LAST_NAME                      POSITION  \
0                100     Tuomas  Savolainen  Level 2 Sales Representative
1                101   Chang-ho         Kim  Level 2 Sales Representative
2                102    Jung-ho        Choi  Level 3 Sales Representative
3                103  Kwei-Ping         Kao  Level 2 Sales Representative
4                104  Chin-Tsai        Fang  Level 3 Sales Representative
..               ...        ...         ...                           ...
97                95      Tomás    Iglesias  Level 2 Sales Representative
98                96     Bayard       Lopes               General Manager
99                97     Viviam      Barros  Level 3 Sales Representative
100               98    Eduardo   Guimarães  Level 2 Sales Representative
101               99     Helena    Lindholm  Level 3 Sales Representative

              WORK_PHONE  EXTENSION                  FAX  \
0    +358(0)17 - 433 127      826.0  +358(0)17 - 433 129
1          82-2-778-6587     1229.0        82-2-778-6586
2          82-2-778-6587     2642.0        82-2-778-6586
3        886-2-2975-1988     1542.0      886-2-2989-4978
4        886-2-2975-1988     2312.0      886-2-2989-4978
..                   ...        ...                  ...
97       +35 94 322 3540      326.0      +35 91 548 1637
98     +55 (11) 344-4444     3491.0    +55 (11) 333-2223
99     +55 (11) 344-4444     3365.0    +55 (11) 333-2223
100    +55 (11) 344-4444     1443.0    +55 (11) 333-2223
101  +358(0)17 - 433 127      490.0  +358(0)17 - 433 129

                       EMAIL  DATE_HIRED SALES_BRANCH_CODE TRIAL888
0    TSavolainen@grtd123.com   23-7-2014                31        T
1           CKim@grtd123.com  15-12-2014                32        T
2          JChoi@grtd123.com  27-11-2014                32        T
3          KKwao@grtd123.com   7-10-2014                33        T
4           CFon@grtd123.com    8-5-2012                33        T
..                       ...         ...               ...      ...
97     TIglesias@grtd123.com   19-2-2014                29        T
98        BLopes@grtd123.com   12-8-2013                30        T
99       VBarros@grtd123.com   10-2-2017                30        T
100   EGuimaraes@grtd123.com   14-2-2015                30        T
101    HLindholm@grtd123.com   17-8-2013                31        T

[102 rows x 11 columns]

## Data verwijderen

### Rijen

De medewerkers op indexen 99, 100 en 101 hebben helaas ontslag genomen.<br>
Verwijder de bijbehorende rijen uit het DataFrame. Gebruik slechts één keer de .drop()-methode.

In [44]:
# Verwijder rijen 99,100,101
sales_staff_df.drop(index=[99, 100, 101], inplace=True)

print(sales_staff_df)

   SALES_STAFF_CODE FIRST_NAME   LAST_NAME                      POSITION  \
0               100     Tuomas  Savolainen  Level 2 Sales Representative
1               101   Chang-ho         Kim  Level 2 Sales Representative
2               102    Jung-ho        Choi  Level 3 Sales Representative
3               103  Kwei-Ping         Kao  Level 2 Sales Representative
4               104  Chin-Tsai        Fang  Level 3 Sales Representative
..              ...        ...         ...                           ...
94               92       Jake      Cartel  Level 2 Sales Representative
95               93       John      Sinden  Level 3 Sales Representative
96               94    Yolanda      Torres  Level 3 Sales Representative
97               95      Tomás    Iglesias  Level 2 Sales Representative
98               96     Bayard       Lopes               General Manager

             WORK_PHONE  EXTENSION                  FAX  \
0   +358(0)17 - 433 127      826.0  +358(0)17 - 433 129
1         82-2-778-6587     1229.0        82-2-778-6586
2         82-2-778-6587     2642.0        82-2-778-6586
3       886-2-2975-1988     1542.0      886-2-2989-4978
4       886-2-2975-1988     2312.0      886-2-2989-4978
..                  ...        ...                  ...
94  +(61) 03 2982  4242     1649.0  +(61) 03 2982  4243
95  +(61) 03 2982  4242     1893.0  +(61) 03 2982  4243
96      +35 94 322 3540      126.0      +35 91 548 1637
97      +35 94 322 3540      326.0      +35 91 548 1637
98    +55 (11) 344-4444     3491.0    +55 (11) 333-2223

                      EMAIL  DATE_HIRED SALES_BRANCH_CODE TRIAL888
0   TSavolainen@grtd123.com   23-7-2014                31        T
1          CKim@grtd123.com  15-12-2014                32        T
2         JChoi@grtd123.com  27-11-2014                32        T
3         KKwao@grtd123.com   7-10-2014                33        T
4          CFon@grtd123.com    8-5-2012                33        T
..                      ...         ...               ...      ...
94      JCartel@grtd123.com  15-12-2015                28        T
95      JSinden@grtd123.com  30-11-2015                28        T
96      YTorres@grtd123.com   29-8-2011                29        T
97    TIglesias@grtd123.com   19-2-2014                29        T
98       BLopes@grtd123.com   12-8-2013                30        T

[99 rows x 11 columns]

### Kolommen

Faxen zijn inmiddels ouderwets: niemand gebruikt zijn/haar faxnummer nog.<br>
Verwijder de bijbehorende kolom uit het DataFrame.

In [45]:
# Kolomverwijdering
sales_staff_df.drop(columns='FAX', inplace=True)

print(sales_staff_df)

   SALES_STAFF_CODE FIRST_NAME   LAST_NAME                      POSITION  \
0               100     Tuomas  Savolainen  Level 2 Sales Representative
1               101   Chang-ho         Kim  Level 2 Sales Representative
2               102    Jung-ho        Choi  Level 3 Sales Representative
3               103  Kwei-Ping         Kao  Level 2 Sales Representative
4               104  Chin-Tsai        Fang  Level 3 Sales Representative
..              ...        ...         ...                           ...
94               92       Jake      Cartel  Level 2 Sales Representative
95               93       John      Sinden  Level 3 Sales Representative
96               94    Yolanda      Torres  Level 3 Sales Representative
97               95      Tomás    Iglesias  Level 2 Sales Representative
98               96     Bayard       Lopes               General Manager

             WORK_PHONE  EXTENSION                    EMAIL  DATE_HIRED  \
0   +358(0)17 - 433 127      826.0  TSavolainen@grtd123.com   23-7-2014
1         82-2-778-6587     1229.0         CKim@grtd123.com  15-12-2014
2         82-2-778-6587     2642.0        JChoi@grtd123.com  27-11-2014
3       886-2-2975-1988     1542.0        KKwao@grtd123.com   7-10-2014
4       886-2-2975-1988     2312.0         CFon@grtd123.com    8-5-2012
..                  ...        ...                      ...         ...
94  +(61) 03 2982  4242     1649.0      JCartel@grtd123.com  15-12-2015
95  +(61) 03 2982  4242     1893.0      JSinden@grtd123.com  30-11-2015
96      +35 94 322 3540      126.0      YTorres@grtd123.com   29-8-2011
97      +35 94 322 3540      326.0    TIglesias@grtd123.com   19-2-2014
98    +55 (11) 344-4444     3491.0       BLopes@grtd123.com   12-8-2013

   SALES_BRANCH_CODE TRIAL888
0                 31        T
1                 32        T
2                 32        T
3                 33        T
4                 33        T
..               ...      ...
94                28        T
95                28        T
96                29        T
97                29        T
98                30        T

[99 rows x 10 columns]